window#waybar {
    font-size: 15px;
    background: #323232;
    color: #fcfcfa;
}

window .modules-left #workspaces button {
    font-size: 15px;
    box-shadow: none;
    min-height: 20px;
    border-radius: 0;
    text-shadow: none;
    border: none;
    padding: 1px;
    margin: 0;
    color: #fcfcfa;
}

window .modules-left #workspaces button.focused:hover,
window .modules-left #workspaces button.focused {
    color: #fcfcfa;
    background-color: #285577;
    /*border: 5px;*/
    border-color: #4c7899;
    border-width: 5px;
}

window .modules-right #custom-gpu-usage:hover,
window .modules-right #custom-gpu-usage,
window .modules-right #clock:hover,
window .modules-right #clock{
    border: none;
    padding: 0 0;
    margin: 0 7;
}

window .modules-left #workspaces button:hover  {
    background: rgba(255, 255, 255, 0.00);
    color: #dddddd;
}

